DISCORD_TOKEN=
DISCORD_VORTO_DE_LA_TAGO_CHANNEL_ID=
DISCORD_DEMANDO_DE_LA_TAGO_CHANNEL_ID=
DISCORD_FOTO_DE_LA_SEMAJNO_CHANNEL_ID=

TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here